

    .send-button {
      background-color: rgb(25, 135, 84);
      color: white;
      padding: 12px 20px;
      margin-left: 10px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 15px;
    }

    .chat-input {
      padding: 12px;
      border-radius: 10px;
      font-size: 15px;
      border-width: 1px;
      flex-grow: 1;

    }

    .input-container {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .app-container {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

      height: 100vh;
      display: flex;
      flex-direction: column;

    }

    .chat-message-user {
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .chat-message-robot {
      display: flex;
      align-items: center;
    }


    .chat-message-profile {
      width: 50px;
      border-radius: 90px;
      object-fit: cover;
    }

    .chat-messages-component {
      flex-grow: 1;
      margin-top: 15px;
      overflow: scroll;
      scrollbar-width: none;
    }

    .welcome-message {
      text-align: center;

    }

    .loading-icon {
      height: 40px;
      margin: -15px;
    }

  