        .form-heading{
            font-size: 27px;
        }

        .form-input{
            border-width: 2px;
            border-radius: 5px;
            margin: 4px 2px;
            padding: 10px 20px;
            width: 200px;
        }

        .btn{
            background-color: rgb(0, 123, 255);
            padding: 10px 20px;
            margin: 10px 5px;
            border: none;
            border-radius: 5px;
            color: white;

        }